
/****** Object:  Table [dbo].[Stories]    Script Date: 13/05/2014 05:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[StoryID] [int] IDENTITY(1,1) NOT NULL,
	[StoryTypeID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](2048) NULL,
	[VideoURL] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](max) NULL,
	[AddedDate] [datetime] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Stories] PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[StoryTypes]    Script Date: 13/05/2014 05:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryTypes](
	[StoryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.StoryTypes] PRIMARY KEY CLUSTERED 
(
	[StoryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[Stories] ON 

GO
INSERT [dbo].[Stories] ([StoryID], [StoryTypeID], [Title], [Content], [VideoURL], [ImageURL], [AddedDate], [Rating]) VALUES (1, 1, N'Banana', N'Q: Why did the banana go to the doctors? A: He wasn''t peeling very well', NULL, NULL, CAST(0x0000A2AF00000000 AS DateTime), 1)
GO
INSERT [dbo].[Stories] ([StoryID], [StoryTypeID], [Title], [Content], [VideoURL], [ImageURL], [AddedDate], [Rating]) VALUES (2, 2, N'Glasgow Pizza Shop', NULL, N'//www.youtube.com/embed/y0TxfwB3BWQ?rel=0', NULL, CAST(0x0000A2AF00A1E899 AS DateTime), 2)
GO
INSERT [dbo].[Stories] ([StoryID], [StoryTypeID], [Title], [Content], [VideoURL], [ImageURL], [AddedDate], [Rating]) VALUES (7, 1, N'Fish', N'Q: What do you call a Fish with no eye?
A: Fsh', NULL, NULL, CAST(0x0000A2AE012A05E4 AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Stories] OFF
GO
SET IDENTITY_INSERT [dbo].[StoryTypes] ON 

GO
INSERT [dbo].[StoryTypes] ([StoryTypeID], [Name]) VALUES (1, N'Joke')
GO
INSERT [dbo].[StoryTypes] ([StoryTypeID], [Name]) VALUES (2, N'Video')
GO
INSERT [dbo].[StoryTypes] ([StoryTypeID], [Name]) VALUES (3, N'Quote')
GO
SET IDENTITY_INSERT [dbo].[StoryTypes] OFF
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stories_dbo.StoryTypes_StoryTypeID] FOREIGN KEY([StoryTypeID])
REFERENCES [dbo].[StoryTypes] ([StoryTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_dbo.Stories_dbo.StoryTypes_StoryTypeID]
GO
