<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://britishhumour2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>britishhumour2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$britishhumour2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Web.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:t4yvxcwzhg.database.windows.net,1433;Initial Catalog=britishhumour2_db;User ID=dave@t4yvxcwzhg;Password=zp2737AA" Name="Data Source=tcp:t4yvxcwzhg.database.windows.net,1433;Initial Catalog=britishhumour2_db;User Id=dave@t4yvxcwzhg;Password=zp2737AA" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web.Models.ApplicationDbContext, Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Funny" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:t4yvxcwzhg.database.windows.net,1433;Initial Catalog=britishhumour2_db;User ID=dave@t4yvxcwzhg;Password=zp2737AA" Name="Data Source=tcp:t4yvxcwzhg.database.windows.net,1433;Initial Catalog=britishhumour2_db;User Id=dave@t4yvxcwzhg;Password=zp2737AA" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\Projects;Initial Catalog=Funny;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Funny_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=(localdb)\Projects;database=Funny;integrated security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Funny-Web.config Connection String">
      <ParameterValue>Data Source=tcp:t4yvxcwzhg.database.windows.net,1433;Initial Catalog=britishhumour2_db;User Id=dave@t4yvxcwzhg;Password=zp2737AA</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Web.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:t4yvxcwzhg.database.windows.net,1433;Initial Catalog=britishhumour2_db;User Id=dave@t4yvxcwzhg;Password=zp2737AA</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Web.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>