<h2>@*About*@</h2>

<p>I hope you found some great jokes here....</p>
<p>If you've got any more, please email me at davemateer@gmail.com</p>

<h3>Background</h3>
<p>The whole idea of this site, is to remember jokes eg when am out for dinner</p>

<ul>
    <li>Easily displayable on a mobile phone</li>
    <li>Show jokes by default in rank order</li>
    <li>Can order by date to see latest ones added</li>
    <li>Anyone can upvote a joke</li>
    <li>An administrator can CRUD jokes</li>
</ul>


<h3>Developers</h3>
<p>Source and presentation are on <a href="http://www.github.com/djhmateer/funny">www.github.com/djhmateer/funny</a></p>

<p>Sample Hubspot integration</p>
<script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
<script>
  hbspt.forms.create({
    portalId: '433336',
    formId: '3a8abd01-b97c-41a7-ad88-fd619abc5d1b'
  });
</script>
